/**********************/
/* BELOW 896PX */
/**********************/

@media(max-width: 56em){
    html{
        font-size: 56.25%; /* 9px */
    }

    .stats-text{
        padding: 4.8rem;
    }

    .stats-heading{
        font-size: 3rem;
        margin-bottom: 2.4rem;
    }

    .stats-description{
        margin-bottom: 4.8rem;
    }

    .stats-features{
        gap: 0;
        justify-content: space-between;
    }
}

/**********************/
/* BELOW 608PX */
/**********************/

@media(max-width: 38em){
    .stats-section{
        max-width: 45rem;
        grid-template-columns: 1fr;
    }

    .stats-img{
        height: 30rem;
        grid-row: 1;
    }
}

/**********************/
/* BELOW 400PX */
/**********************/

@media(max-width: 25em){
    .stats-text{
        text-align: center;
    }

    .stats-features{
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
    }

    .feature-num{
        display: flex;
        justify-content: center;
    }
}